<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href="">
        <img class="logo-icon" src="images/icons/logo.svg" alt="logo" />
      </a>
      <button class="modal-btn">
        <img
          src="images/icons/header-icon.svg"
          alt="icon"
          class="modal-btn-icon"
        />
      </button>
      <button class="menu-btn js-open-menu">
        <img src="images/icons/menu.svg" alt="menu" class="menu-btn-icon" />
      </button>
      <ul class="nav-menu">
        <li class="nav-menu-iteam">
          <a class="nav-menu-link" href="">About us</a>
        </li>
        <li class="nav-menu-iteam">
          <a class="nav-menu-link" href="">Our courses</a>
        </li>
        <li class="nav-menu-iteam">
          <a class="nav-menu-link current" href="">Our mentors</a>
        </li>
        <li class="nav-menu-iteam">
          <a class="nav-menu-link" href="">Reviews</a>
        </li>
        <li class="nav-menu-iteam">
          <a class="nav-menu-link" href="">contacts</a>
        </li>
      </ul>
    </nav>
    <button class="header-btn btn" type="button">SIGN UP</button>
  </div>
</header>
