 <!-- Hero -->
      <section class="hero section">
        <div class="container">
          <div class="hero-left">
            <h1 class="hero-title">
              Discover the magic of
              <span class="hero-title-span">photography</span> in our school
            </h1>
            <p class="hero-desc">
              Our photography school offers an unforgettable journey, where you
              can learn the basics of composition, master technical skills,
              translate your unique ideas.
            </p>
            <div class="hero-wrapper">
              <div class="hero-users">
                <ul class="hero-list">
                  <li class="hero-list-item" style="--index: 3">
                    <img
                      class="hero-list-img"
                      src="images/hero/img1.png"
                      alt="girl"
                    />
                  </li>
                  <li class="hero-list-item" style="--index: 2">
                    <img
                      class="hero-list-img"
                      src="images/hero/img2.png"
                      alt="boy"
                    />
                  </li>
                  <li class="hero-list-item" style="--index: 1">
                    <img
                      class="hero-list-img"
                      src="images/hero/img3.png"
                      alt="girl"
                    />
                  </li>
                </ul>
                <div class="hero-users-right">
                  <p class="hero-users-text">Our happy students</p>
                  <img
                    class="hero-users-icon"
                    src="images/icons/arrow.svg"
                    alt="arrow"
                  />
                </div>
              </div>

              <div class="hero-reviews">
                <div class="star">
                  <img src="images/icons/star.svg" alt="star" />
                </div>
                <p class="hero-reviews-stats">
                  <span class="quantity-reviews">Reviews</span>
                  +1500
                </p>
              </div>
            </div>
          </div>
          <div class="hero-right">
            <img
              class="hero-banner"
              src="images/hero/img4.png"
              alt="photography"
            />
          </div>
        </div>
      </section>