<div class="backdrop js-backdrop">
  <div class="mobile-menu">
    <button class="mobile-menu-btn js-close-menu">
      <img src="images/icons/close.svg" alt="Close icon" />
    </button>
    <ul class="mobile-menu-list">
      <li class="mobile-menu-iteam">
        <a class="mobile-menu-link" href="">About us</a>
      </li>
      <li class="mobile-menu-iteam">
        <a class="mobile-menu-link" href="">Our courses</a>
      </li>
      <li class="mobile-menu-iteam">
        <a class="mobile-menu-link" href="">Our mentors</a>
      </li>
      <li class="mobile-menu-iteam">
        <a class="mobile-menu-link" href="">Reviews</a>
      </li>
      <li class="mobile-menu-iteam">
        <a class="mobile-menu-link" href="">contacts</a>
      </li>
    </ul>
  </div>
</div>
