 <!-- Our Mentors -->
      <section class="mentors section">
        <div class="container">
          <h2 class="mentors-title">
            Our <span class="mentors-title-span">Mentors</span>
          </h2>
          <ul class="mentors-list">
            <li class="mentors-item">
              <img
                class="mentors-avatar"
                src="images/mentors/img1.png"
                alt="Mentor Emilia Smith"
              />
              <h3 class="mentors-name">Emilia Smith</h3>
              <p class="mentors-text">1.5 years of experience</p>
            </li>
            <li class="mentors-item">
              <img
                class="mentors-avatar"
                src="images/mentors/img2.png"
                alt="Mentor Alex Lebedev"
              />
              <h3 class="mentors-name">Alex Lebedev</h3>
              <p class="mentors-text">3.5 years of experience</p>
            </li>
            <li class="mentors-item">
              <img
                class="mentors-avatar"
                src="images/mentors/img3.png"
                alt="Mentor Mia Dubrovska"
              />
              <h3 class="mentors-name">Mia Dubrovska</h3>
              <p class="mentors-text">2.0 years of experience</p>
            </li>
            <li class="mentors-item">
              <img
                class="mentors-avatar"
                src="images/mentors/img4.png"
                alt="Mentor Eliot Kovalev"
              />
              <h3 class="mentors-name">Eliot Kovalev</h3>
              <p class="mentors-text">4.0 years of experience</p>
            </li>
          </ul>
        </div>
      </section>